*~
extracted
source/extracted
.dub
3d
dub_platform*
zeroip.txt
*.7z
*.zip
logs
*.obj
*.mtl
zerotier-identity*

# ignore SacEngine files
SacEngine-*
SacEnginePi*
SacEngineA*
SacEngine.*.txt
settings.txt

# ignore sacrifice files
data
maps
data-orig
maps-orig
fonts

# ignore binaries
*.exe
*.dll
*.so
*.dylib

# replays
replays
*.rcp

# ignore toolchains
ldc2*
android-ndk-r21e

# windows pdb files
*.pdb

# MacOS garbage
.DS_Store
