*~
extracted
source/extracted
replays
.dub
3d
SacEngine-*
ldc2*
dub_platform*
settings.txt
*.scr
*.rcp
zeroip.txt
*.7z
fonts
data
maps
data-orig
maps-orig
*.zip
*.exe
*.dll
*.dylib
.DS_Store
logs
*.obj
*.mtl
zerotier-identity
