*~
extracted
source/extracted
.dub
3d
dub_platform*
zeroip.txt
*.7z
*.zip
*.exe
*.dll
*.dylib
*.so
.DS_Store
logs
*.obj
*.mtl
zerotier-identity*

# ignore SacEngine files
SacEngine-*
SacEnginePi*
SacEngineA*
SacEngine.*.txt
settings.txt

# ignore sacrifice files
data
maps
data-orig
maps-orig
fonts

# replays
replays
*.rcp

# ignore toolchains
ldc2*
android-ndk-r21e

# windows pdb files
*.pdb
